body {
    font-family: Arial, sans-serif;
    background-color: #f3f6fb;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    width: 100%;
}
.back-home-btn {
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
    font-size: 16px;
    color: #2a5bd7;

    background-color: #f2f5ff;
    padding: 8px 14px;
    border-radius: 6px;

    border: 1px solid #cdd8ff;
    transition: 0.2s ease;
}

.back-home-btn:hover {
    background-color: #e3eaff;
    border-color: #b7c9ff;
}

/* FILTER PANEL */
.filters {
    width: 22%;
    background: white;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: 100vh;
    overflow-y: auto;
}

.filters h2 {
    margin-bottom: 15px;
}

.filter-section {
    margin-bottom: 25px;
}

.filter-section h3 {
    margin-bottom: 8px;
    font-size: 17px;
}

.filter-section input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

/* DOCTOR SECTION */
.doctors-section {
    width: 78%;
    padding: 30px;
}

.search-bar input {
    width: 50%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
}

.doctors-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.doctor-card {
    background: white;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.doctor-card img {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    margin-right: 18px;
}

.doctor-info h2 {
    margin: 0;
    font-size: 20px;
}

.doctor-info p {
    margin: 5px 0;
    font-size: 15px;
}

.title {
    font-weight: bold;
    color: #003c80;
}

.actions {
    margin-top: 10px;
}

.actions a {
    margin-right: 15px;
    color: #003c80;
    text-decoration: none;
}

.actions button {
    background: #003c80;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
}
