*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    margin: auto;
    width: 80vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    /* text-decoration: underline; */
    margin-left: -22%;
    border: 2px solid white ;
    padding: 5px;
    
}
.name:hover{
    text-decoration: none;
    color: green;
    border-bottom: 2px solid green;
    transition: all 0.2s ease-in;
    cursor: pointer ;
}

.nav-logo{
    width: 20%;
    height: 95%;
    /* background-color: blue; */
}

.nav-logo img{
    width: 30%;
    height: 100%;
}



.nav-menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}


.nav-menu ul li select{
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.nav-menu ul li select:hover{
    padding: 10px;
    border-bottom: 2px solid rgb(0, 191, 255);
    transition: all 0.4s ease;
    cursor: pointer;
}


.nav-button button{
    border: 2px solid rgb(0, 191, 255);
    padding: 20px 30px;
    background-color: white;
    border-radius: 30px;
    color: rgb(0, 191, 255);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease,box-shadow 0.2s ease;
}

.nav-button button:hover{
    background-color: rgb(0, 191, 255);
    color: white;
    scale: 1.1;
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgb(0, 191, 255)

}
.hh {
    background-image: url("https://images.stockcake.com/public/6/2/a/62aff014-6c4d-47a7-823a-306c7ef54624_large/modern-hospital-welcome-stockcake.jpg");
    /* background: no-repeat; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40vh 0px;

}
.app{
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    background: white;
    margin: auto;
    border-radius: 15px;
    width: 65vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}


.search-box,
.location-box {
    display: flex;
    align-items: center;
    background: #f4f8fc;
    border: 1.5px solid #cfd9e5;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    position: relative;
}

.search-box input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
}

.location-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}


.location-dropdown {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    width: 280px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: left;
    z-index: 10;
}

.location-dropdown h3 {
    margin-top: 0;
    color: #003c80;
}

.location-dropdown label {
    display: block;
    padding: 8px 0;
}

.location-dropdown.show {
    display: block;
}


.appointment-btn {
    background: #003c80;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

