* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: auto;
    width: 80vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    width: 60px;
    height: auto;
}

.logo-text {
    font-size: 26px;
    font-weight: 700;
    color: #003c80;
}
.logo-text:hover{
    text-decoration: none;
    color: green;
    border-bottom: 2px solid green;
    transition: all 0.2s ease-in;
    cursor: pointer ;
}

.nav-menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-menu ul li select {
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid white;
    background: none;
}

.nav-menu ul li select:hover {
    border-bottom: 2px solid rgb(0, 191, 255);
    transition: all 0.4s ease;
    cursor: pointer;
}

.nav-button button {
    border: 2px solid rgb(0, 191, 255);
    padding: 15px 25px;
    background-color: white;
    border-radius: 25px;
    color: rgb(0, 191, 255);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nav-button button:hover {
    background-color: rgb(0, 191, 255);
    color: white;
    scale: 1.05;
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 191, 255, 0.4);
}

.hero {
    background-image: url("https://images.stockcake.com/public/6/2/a/62aff014-6c4d-47a7-823a-306c7ef54624_large/modern-hospital-welcome-stockcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30vh 0;
}

.hero-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #002d5b;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 100px;
    cursor: default;
    text-decoration: underline;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    background: white;
    margin: auto;
    border-radius: 15px;
    width: 65vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.search-box,
.location-details {
    display: flex;
    align-items: center;
    background: #f4f8fc;
    border: 1.5px solid #cfd9e5;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    position: relative;
}

.search-box input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
}

.location-details {
    flex-direction: column;
}

.summary-btn {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.location-details[open] .location-dropdown {
    opacity: 1;
    max-height: 600px;
    padding: 20px;
}

.location-dropdown {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    margin-top: 10px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 2s ease;
}

.location-dropdown h3 {
    margin-bottom: 10px;
    color: #003c80;
}

.location-dropdown label {
    display: block;
    margin: 6px 0;
}

.sub {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #003c80;
}

.appointment-btn {
    background: #003c80;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

.appointment-btn:hover {
    background: #0050b8;
}
