*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    margin: auto;
    width: 80vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    /* text-decoration: underline; */
    margin-left: -22%;
    border: 2px solid white ;
    padding: 5px;
    
}
.name:hover{
    text-decoration: none;
    color: green;
    border-bottom: 2px solid green;
    transition: all 0.2s ease-in;
    cursor: pointer ;
}
.hero-section{
    width: 100vw;
    height: 70vh;
    background-color: rgb(0, 191, 255);
}

.nav-logo{
    width: 20%;
    height: 95%;
    /* background-color: blue; */
}

.nav-logo img{
    width: 30%;
    height: 100%;
}



.nav-menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}


.nav-menu ul li select{
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.nav-menu ul li select:hover{
    padding: 10px;
    border-bottom: 2px solid rgb(0, 191, 255);
    transition: all 0.4s ease;
    cursor: pointer;
}


.nav-button button{
    border: 2px solid rgb(0, 191, 255);
    padding: 20px 30px;
    background-color: white;
    border-radius: 30px;
    color: rgb(0, 191, 255);
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease,box-shadow 0.2s ease;
}

.nav-button button:hover{
    background-color: rgb(0, 191, 255);
    color: white;
    scale: 1.1;
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgb(0, 191, 255)

}
